<footer class="blog-footer">
  <div class="container">
    <div id="footer-info" class="inner">
      &copy; 2008-<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>  and <a href="https://github.com/nberserk/hexo-theme-bootstrap">hexo bootstrap theme</a>
    </div>    
  </div>
</footer>
